.tile {
  width: 48px;
  height: 48px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    opacity: 0.5;
  }
}
