.tile {
  width: 36px;
  height: 36px;
  
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 1rem;

  span.value {
    font-weight: bold;
    
  }

  div.cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkgray;
  }
}
