.alarmContainer {
  font-family: "digital-7";
  font-size: 36px;
  padding: 0 0.5rem 0 0.5rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  border-top: 2px solid var(--white-border);
  border-left: 2px solid var(--white-border);
  border-right: 2px solid var(--gray-border);
  border-bottom: 2px solid var(--gray-border);

  .placeholder {
    color: darkred;
    opacity: 0.8;
  }

  .placeholder,
  .alarmText {
    display: flex;

    .digit {
      min-width: 22px;
      text-align: right;
    }
  }

  .alarmText {
    color: red;
    position: absolute;
  }
}

@media screen and (max-width: 400px) {
  .alarmContainer {
    font-size: 24px;

    .placeholder,
    .alarmText {
      .digit {
        min-width: 16px;
      }
    }
  }
}
