.backdrop {
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.239);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.dialog {
  background: var(--gray-bg);
  border: 2px solid rgb(64, 64, 64);
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 420px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;

  .closeBtn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5rem;
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  font-family: sans-serif;
  color: rgb(50, 50, 50);

  .heading {
    font-size: 1.3rem;
    font-family: "minesweeper";
    text-align: center;
    margin-top: 0;
  }

  .gameOverMessage {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .sliderContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    .label {
      min-width: 3rem;
    }

    .dimensionCount {
      font-family: "minesweeper";
      margin-left: auto;
    }
  }

  .playAgainBtn {
    font-size: 1rem;
    font-family: "minesweeper";
    border-right: 2px solid var(--dark-border);
    border-bottom: 2px solid var(--dark-border);
    border-top: 2px solid var(--white-border);
    border-left: 2px solid var(--white-border);
    padding: 0.5rem 1rem;
    background-color: rgb(132, 132, 255);
    cursor: pointer;
    color: rgb(50, 50, 50);

    &:hover {
      background-color: rgb(183, 183, 255);
    }
  }

}