@font-face {
  font-family: "minesweeper";
  src: url('fonts/mine-sweeper.otf');
}

* {
  font-family: "minesweeper", "monospace";
}


body {
  background: #c6c6c6;
  
}

.boardContainer {
  display: flex;
  flex-direction: column;
}

.boardHeader {
  display: flex;
}

/* .board {
  display: flex;
  flex-direction: column;
} */

.row {
  display: flex;
}
