@font-face {
  font-family: "minesweeper";
  src: url("fonts/mine-sweeper.otf");
}

@font-face {
  font-family: "digital-7";
  src: url("fonts/digital-7.ttf");
}

#root {
  padding: 0.5rem;
}

body {
  --gray-bg: #c6c6c6;
  background: var(--gray-bg);
  --dark-border: rgb(132, 132, 132);
  --white-border: white;
  margin: 0;
}

.boardContainer {
  display: grid;
  grid-auto-columns: minmax(40px, 1fr);
  grid-auto-rows: minmax(auto, 42px);
}

.row {
  display: flex;
}


